.task-container{
    width: 600px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    border-radius: 7px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    animation: taskan forwards 0.5s ease-out;

}
@keyframes taskan {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    90%{
        opacity: 1
    }
    100%{
        opacity: 100;
    }
}

.task-text{
    margin-right: 2.5em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.btn{
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.btn:hover{
    border: 1px solid white;
    cursor: pointer;
}

.delete-btn{
    background-color: rgba(255, 60, 60, 0.94);
}

.edit-btn{
    background-color: rgba(82, 193, 255, 0.9);
}

.done-btn{
    background-color: rgba(99, 255, 60, 0.94);
}

.btns-container{
    display: flex;
    gap: 7px;
}


.editbox-container{
    width: 600px;
    background-color: rgba(190, 139, 255, 0.19);
    padding: 1em;
    border-radius: 10px;
}
.text-area{
    padding: 1em;
    margin-bottom: 1em;
}

.discard-btn{
    background-color: rgba(255, 89, 89, 0.88);
    padding: 0.5em 1em;
    border: none;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.discard-btn:hover{
    background-color: rgb(255, 116, 116);
}

.save-btn{
    background-color: rgba(82, 193, 255, 0.9);
    padding: 0.5em 1em;
    border: none;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.save-btn:hover{
    background-color: rgb(108, 201, 255);
}

.done{
    background-color: rgb(116, 255, 116);
    transition: all 300ms;
    transition-timing-function: ease-out;
}

.undone{
    background-color: rgba(179, 122, 255, 0.313);
    transition: all 200ms;
    transition-timing-function: ease-in-out;
}