.container{
    background-color: rgba(141, 255, 113, 0.78);
    padding: 1em;
    border-radius: 10px;
}

.text-area{
    width: 100%;
    border-radius: 5px;
    border: none;
}

.discard-btn{
    background-color: rgba(255, 89, 89, 0.88);
    padding: 0.5em 1em;
    border: none;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.discard-btn:hover{
    background-color: rgb(255, 116, 116);
}

.add-btn{
    background-color: rgba(82, 193, 255, 0.9);
    padding: 0.5em 1em;
    border: none;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.add-btn:hover{
    background-color: rgb(108, 201, 255);
}