@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #14002d;
}
